.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 12px 26px;
  box-sizing: border-box;
  color: var(--black);
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 40px;
  transition: all .3s;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &_outline {
    border-color: var(--primary);

    &:hover {
      color: var(--white);
      background-color: var(--primary);
    }
  }

  &_white {
    color: var(--white);
    border-color: var(--white);

    &:hover {
      color: var(--black);
      background-color: var(--gray);
      border-color: var(--gray);
    }
  }
}